<div id="landingpage">
	<%= image_tag("banner.png", :alt => configatron.app_name) %>
	<div id="map">
		<span class="title">In deiner Stadt</span>
		<iframe width="929" height="250" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Klagenfurt&amp;sll=37.0625,-95.677068&amp;sspn=64.880423,135.263672&amp;ie=UTF8&amp;hq=&amp;hnear=Klagenfurt,+Klagenfurt+am+W%C3%B6rthersee,+Carinthia,+Austria&amp;ll=46.62794,14.30899&amp;spn=0.007015,0.016512&amp;z=14&amp;output=embed"></iframe>
	</div>
	<div class="col r">
		<h2>Behobene Schandflecken</h2>
		<ul class="incidentlist">
			<%= render :partial => 'incident_block', :collection => @solved_incident_reports %>
		</ul>
	</div>
	<div class="col l">
		<h2>Neue Schandflecken</h2>
		<ul class="incidentlist">
			<%= render :partial => 'incident_block', :collection => @latest_incident_reports %>
		</ul>
	</div>
</div>
