/*
.....................................................................
HEADER 
.....................................................................
*/
div#logo {
	max-width:259px;
	padding: 6px;
	margin-top: 10px;
	background-color:#fff;
	text-align: right;
}

div#logo_expand {
	position: absolute;
	min-height: 35px;
	background-color:#fff;
	padding: 6px;
	width: 35%;
	z-index: -1;
}

div#search {
	float:right;
	margin-right: 15px;
}

div#search input {
	border: 0px;
	background-color: #e3e4e5;
	padding: 0.5em;
	font-size: 1.1em;
	color: #333333;
}
/*
.....................................................................
COMMON
.....................................................................
*/
#left {
	float:left;
}

#right {
	float:right;
}

.clear{
	clear:both;
}

/*
.....................................................................
CONTENT
.....................................................................
*/
div#content_wrapper {
	clear:both;
	margin: 0px auto;
	width:960px;
	margin-top: 15px;
	background-image:url(../images/background-content-header_small.png);
	background-repeat: no-repeat;
}

div#content_wrapper h1, h2, h3 {
	padding-left: 15px;
	padding-top: 15px;	
}

div#content {
	padding: 9px;
	background-image:url(../images/background-content.png);
}



div#footer {
	text-align: center;
	background-image:url(../images/background-content.png);

}

div#footer a {
	color: #333333;
}

div#content {
	padding-top: 5px;
}

div#content p {
	margin: 1.5em;
}

div#map {
	margin-top: 0px;
}

div#map .title {
	font-size: 1.4em;
	padding-bottom: 0.2em;
	color: #707173;
}

/*
.....................................................................
Landing Page
.....................................................................
*/
div#landingpage h2 {
	margin: 0;
	padding: 0;
	color: #707173;
	font-size: 1.8em;
	margin-bottom: 1em;
}

div#landingpage h3 {
	margin: 0;
	padding: 0;
	color: #444444;
	font-size: 1.2em;
	border-bottom: 1px solid #cccccc;
}

div#main_content{
	width:100%;
	height:auto;

}

div#main_content .col{
	width:33%;
	float:left;
	padding-top:15px;
}


div#landingpage .incimg {
	float:left;
	margin-top: 3px;
	padding-right: 5px;
	padding-bottom: 2px;	
}

ul.incidentlist{
	padding-left:10px;
	padding-right:10px;

}

.incidentlist li {
	clear:both;
	margin-bottom: 2em;
	list-style:none;
	font-size:16px;
}

/*
.....................................................................
Incident Reports - Upload
.....................................................................
*/


div.left_column{
		float:left;
		width:50%;
	}
div.right_column{
		float:left;
		width:50%;
	}

div.map{
		height:500px;

	}

div.upload_pic{
		height:300px;
		background-color:#F3F3F3;
	
	}
	
div.upload_pic_description{
		height:200px;
		background-color:#e3e4e5;
	
	}
	
fieldset {
		border:none;
	}
	
fieldset div.date{
		padding-bottom:20px;
	}
	
fieldset div.descripton{
		
	}
	
fieldset input.submit{
		margin-left:70%;
	}

/*
.....................................................................
Incident Reports - Description
.....................................................................
*/

hr {
	color: #272727;
	margin-bottom: 25px;
	}

div#content_wrapper {
	clear:both;
	margin: 0px auto;
	width:960px;
	margin-top: 15px;
	background-image:url(../images/background-content-header.png);
	background-repeat: no-repeat;
}

div.left_column_content {
	float:left;
	margin: 0px auto;
	width:630px;
}

div.right_column_content {
	float:left;
	margin: 0px;
	margin-left: 40px;
	width:255px;
}

div.left_column_content_incident{
	float:left;
	width:400px;
	margin-top: 5px;
}
div.left_column_content_incident_comment_own{
	float:left;
	width:400px;
	background-color: #e3e4e5;
	margin-top:15px;
	margin-bottom:15px;
}

div.right_column_content_incident{
	float:left;
	margin-left:15px;
	width:215px;
}

div.left_column_content_incident_description{
	float:left;
	width:75px;
}

div.right_column_content_incident_description{
	float:left;
	margin-left:15px;
	width:310px;
}

div.left_column_content_incident_description_evaluation{
	float:left;
	width:400px;
}

div.left_column_content_incident_comment_description{
	float:left;
	width:75px;
}

div.right_column_content_incident_comment_description{
	float:left;
	margin-left:15px;
	width:310px;
}

div.left_column_content_incident_comment_own_description{
	float:left;
	width:75px;
	height:110px;
	padding:0;
}

div.right_column_content_incident_comment_own_description{
	float:left;
	margin-left:15px;
	width:310px;
	padding:0;
}


div#incident_menu_left {
	margin: 0px;
	padding: 0;
	font-size: 12px;
	text-align:left;
}

div#incident_menu_right {
	margin: 0px;
	padding: 0;
	font-size: 12px;
	text-align:right;
}

div#incident_picture {
	margin-top: 5px;
	margin-bottom: 0px;
	padding: 0;
}

div#incident_map {
	margin-top: 5px;
	margin-bottom: 0px;
	padding: 0;

}

div#incident_description_picture {
	margin-top: 5px;
	margin-bottom: 0px;
	padding: 0;
}

div#incident_description_text {
	margin-top: 5px;
	margin-bottom: 0px;
	padding: 0;
}

div#incident_evaluation_button {
	margin-top: 15px;
	margin-bottom: 0px;
	padding: 0;
}

