@charset "utf-8";
/* CSS Document */


/* HEADER */
div#header {
	width:100%;
	height:50px;
	background-color:#a4f920;
	border:#666 1px solid; /* dev */
}

div#header div#logo {
	float:left;
	width: 20%;
	height:50px;
	background-color:#F00/* dev */
}

div#header div#menu{
	float:left;	
	width:60%;
	height:50px;
}

div#header div#login{
	float:right;
	width:20%;
	height:50px;
	background-color:#606;/* dev */
}

/* HEADER END*/


/* CONTENT */
div#content {
	background-color:#CCC; /* dev */
	border:#666 1px solid; /* dev */
}

div#content  div.avatar{
	float:left;
	height:50px;
	width:50px;
	border:#333 dotted 1px;/* dev */
}


div.comments {
		border:#333 dotted 1px;/* dev */	
}

div#right div#map{
	width:300px;
	height:300px;
	border: #999 dotted 1px; /* dev */
	
}


/* CONTENT END*/

div#footer_content {
	background-color:#0F0;
}