@charset "utf-8";

@import "960.css";
@import "container.css";
@import "navigation.css";

body{
	background-image:url(../images/background.jpg);	
	background-position:top center;
	margin: 0 0;
	padding:0 0;
	direction: ltr;
	font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
	font-size: 12px;
}

#external_login{
  text-align: center;
}
