defaults: &defaults
  token: d77d65f2f8a2ee751d816683e05a8ea216732234341bb5e951022317eba0835b9f1229c3eecac185584af3b61262e390b195dee85610b672bcc1492fb9e2f816
  app_name: Schandfleck.in
  app_domain: schandfleck.in
  app_subscribe_user: subscribe@schandfleck.in
  app_subscribe_password: subscribe_secret
  noreply: noreply@fs-rails3-base.heroku.com
  host: localhost:3000
  identities:
    twitter:
      key: twitter_key
      secret: twitter_secret
    facebook:
      key: "facebook_key"
      secret: "facebook_secret"

development:
  <<: *defaults

test:
  <<: *defaults

production:
  <<: *defaults
	host: schandfleck.in
