Impressum gem. ? 5 ECG, ? 14 UGB, ? 24 Mediengesetz
Medieninhaber und fr den Inhalt verantwortlich:
Verein der Krntner Freunde des Internets
E-Mail: barcamp.kaernten@gmail.com
Nutzungsbedingungen und Haftungsausschluss
Fr die von Usern hochgeladenen Inhalte knnen wir keinerlei Haftung bernehmen. Nutzer werden angehalten, Probleme wahrheitsgetreu zu berichten. Missbrauch jeder Art (Beleidigungen, Verletzungen anderer Personen, unwahre Information etc.) ist untersagt, eine entsprechende Meldung bei Auftauchen wird erbeten. Diese Website soll im Dienste der Allgemeinheit stehen, seine Nutzer werden gebeten, diesen Zielen zu folgen.
Auch bei gráter Sorgfalt ist nicht auszuschlieáen, dass es zu Missbrauch kommt. In diesem Falle, werden wir mglichst schnell reagieren. Eine Haftung mssen wir jedoch ausschlieáen. Dieser Dienst speichert IP-Adressen und Login-Daten seiner Nutzer. Zuwiderhandeln gegen die oben genannten Prinzipien wird mit Lschung von Inhalten oder Sperre von Benutzern geahndet.
Dieser Dienst wird ?as is? angeboten. Fehler sind mglich, es gibt keinerlei Gewhrleistung fr das einwandfreie Funktionieren geboten.
Urheberrecht
Die Inhalte dieser Website unterliegen folgender Lizenz: Creative Commons 3.0 sterreich, Attribution (siehe HTML-Code).
Das bedeutet fr Sie: Die Inhalte dieser Website (Fotos und Texte der Probleme) drfen ohne Bezahlung eines Entgelts frei verwendet werden. Voraussetzung dafr ist die Nennung des Users, der das Problem gemeldet hat und jener von Schandfleck.in Beispiel: ?user-xyz/Schandfleck.in?
HTML-Code:
<a rel="license" href="http://creativecommons.org/licenses/by/3.0/at/"><img alt="Creative Commons Lizenzvertrag" style="border-width:0" src="http://i.creativecommons.org/l/by/3.0/88x31.png" /></a><br />This Werk bzw. Inhalt is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/at/">Creative Commons Namensnennung 3.0 sterreich License</a>.
