<h1>Impressum gem. § 5 ECG, § 14 UGB, § 24 Mediengesetz</h1>

<h2>Medieninhaber und für den Inhalt verantwortlich:</h2>
Verein der Kärntner Freunde des Internets
E-Mail: barcamp.kaernten@gmail.com

<h2>Nutzungsbedingungen und Haftungsausschluss:</h2>
<p>Für die von Usern hochgeladenen Inhalte können wir keinerlei Haftung übernehmen. Nutzer werden angehalten, Probleme wahrheitsgetreu zu berichten. Missbrauch jeder Art (Beleidigungen, Verletzungen anderer Personen, unwahre Information etc.) ist untersagt, eine entsprechende Meldung bei Auftauchen wird erbeten. Diese Website soll im Dienste der Allgemeinheit stehen, seine Nutzer werden gebeten, diesen Zielen zu folgen.</p>

<p>Auch bei größter Sorgfalt ist nicht auszuschließen, dass es zu Missbrauch kommt. In diesem Falle, werden wir möglichst schnell reagieren. Eine Haftung müssen wir jedoch ausschließen. Dieser Dienst speichert IP-Adressen und Login-Daten seiner Nutzer. Zuwiderhandeln gegen die oben genannten Prinzipien wird mit Löschung von Inhalten oder Sperre von Benutzern geahndet.</p>

<p>Dieser Dienst wird "as is" angeboten. Fehler sind möglich, es gibt keinerlei Gewährleistung für das einwandfreie Funktionieren geboten.</p>

<h2>Urheberrecht:</h2>
<p>Die Inhalte dieser Website unterliegen folgender Lizenz: Creative Commons 3.0 Österreich, Attribution (siehe HTML-Code).</p>
<p>Das bedeutet für Sie: Die Inhalte dieser Website (Fotos und Texte der Probleme) dürfen ohne Bezahlung eines Entgelts frei verwendet werden. Voraussetzung dafür ist die Nennung des Users, der das Problem gemeldet hat und jener von Schandfleck.in Beispiel: "user-xyz/Schandfleck.in"</p>

<p><a rel="license" href="http://creativecommons.org/licenses/by/3.0/at/"><img alt="Creative Commons Lizenzvertrag" style="border-width:0" src="http://i.creativecommons.org/l/by/3.0/88x31.png" /></a><br />This Werk bzw. Inhalt is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/at/">Creative Commons Namensnennung 3.0 Österreich License</a>.</p>
