<%= image_tag("banner.png", :alt => configatron.app_name) %>

<h1>Code Camp Contributors go here Name + Bild + Link</h1>

<p>Bitte jemand einsammeln und als HTML in dieses File adden, danke! (Twitter als  Link und für Bilder nehmen?)</p>