<h1>Fragen & Antworten</h1>
Warum gibt es diesen Dienst  ueberhaupt?
Antwort: In Gemeinden oder im Land kann nicht jeder zustndige Beamte berall sein. Brger sind aber berall und knnen Probleme viel effizienter an die Entscheidungstrger in den Gemeinden oder im Land melden.
Ist das ein ffentlicher, virtueller Pranger fr faule Gemeinden?
Antwort: NEIN, absolut nicht. Lsen ffentliche Einrichtungen Probleme, werden diese hier auch gelobt. Dieser Dienst soll auch als Hilfestellung gesehen werden, welche Probleme den Brgern ein brennendes Anliegen sind.
Was soll gemeldet werden?
Antwort: Alles, was mehr als nur eine Person strt. Am besten ist dies mit Beispielen erklrt:

<ul>
	<li>Groáe, gefhrliche Straáenlcher,</li>
* verschmutze oder beschdigte Kinderspielpltze,
* entfernte oder widersprchliche Straáenschilder,
* nicht behindertengerechte Zugnge zu ffentlichen Gebuden oder
* fehlende Fahrplne in Bushaltestellen.
Was darf/soll nicht gemeldet werden?
Antwort: Probleme, die nur einzelne Personen betreffen und deren Behebung nicht im Interesse der Allgemeinheit mehr kosten, als es bringt. Auch Beleidigungen ffentlicher Personen oder Institutionen haben hier nichts zu suchen.
Kann das Problem wieder gelscht werden?
Antwort: Nein. Probleme werden nur automatisch gelscht, sobald sie von einer gráeren Personenanzahl als ?gelst? betrachtet werden.
Daher sollten Sie vor dem Verffentlichen nachdenken. Sollte Ihnen ein Problem aus einer entstehen, knnen Sie sich auch per E-Mail an den Administrator wenden. Schicken Sie uns dazu einfach ein E-Mail: barcamp.kaernten@gmail.com. Dieses E-Mail sollte auf alle Flle einen Grund fr die Lschung sowie die URL des Problems enthalten.
Wie wird ein Problem als ?gelst? markiert?
Antwort: Ein Problem gilt dann als ?gelst?, sobald eine bestimmte Anzahl an Personen dies ebenfalls so sieht. Gelste Probleme werden als solche auch verffentlicht.
Ist jedes Problem ?ein Problem??
Antwort: Nein. Ein Problem kann von der Community auch als ?No Problem? eingestuft werden. Dazu sind eine bestimmte Anzahl an Stimmen durch Klicken auf ?No Problem? ntig.
Wie wird meine Privatsphre geschtzt?
Antwort: Ihnen muss bewusst sein, dass die Meldung von Problemen mit Ihrer Person in Verbindung gebracht werden knnen.
Welche Daten werden von mir gespeichert?
Antwort: Wir speichern Ihre IP-Adresse sowie die bei der Anmeldung gewonnen Daten. Diese werden nicht an Dritte weiter gegeben.