<%= image_tag("banner.png", :alt => configatron.app_name) %>
<h1>Fragen & Antworten</h1>

<p><i>Warum gibt es diesen Dienst &uuml;berhaupt?</i><br />
<strong>Antwort:</strong> In Gemeinden oder im Land kann nicht jeder zust&auml;ndige Beamte &uuml;berall sein. Brger sind aber &uuml;berall und k&ouml;nnen Probleme viel effizienter an die Entscheidungstr&auml;ger in den Gemeinden oder im Land melden.</p>

<p><i>Ist das ein &ouml;ffentlicher, virtueller Pranger f&uuml;r faule Gemeinden?</i><br />
<strong>Antwort:</strong> NEIN, absolut nicht. L&ouml;sen &ouml;ffentliche Einrichtungen Probleme, werden diese hier auch gelobt. Dieser Dienst soll auch als Hilfestellung gesehen werden, welche Probleme den B&uuml;rgern ein brennendes Anliegen sind.</p>

<p><i>Was soll gemeldet werden?</i><br />
<strong>Antwort:</strong> Alles, was mehr als nur eine Person st&ouml;rt. Am besten ist dies mit Beispielen erkl&auml;rt:</p>
<ul>
<li>gro&szlig;e, gef&auml;hrliche Stra&szlig;enl&ouml;cher,</li>
<li>verschmutze oder besch&auml;digte Kinderspielpl&auml;tze,</li>
<li>entfernte oder widerspr&uuml;chliche Stra&szlig;enschilder,</li>
<li>gef&auml;hrliche Stra&szlig;enkreuzungen,</li>
<li>nicht behindertengerechte Zug&auml;nge zu &ouml;ffentlichen Geb&auml;uden oder</li>
<li>fehlende Fahrpl&auml;ne in Bushaltestellen.</li>
</ul>

<p><i>Was darf/soll nicht gemeldet werden?</i><br />
<strong>Antwort:</strong> Probleme, die nur einzelne Personen betreffen und deren Behebung nicht im Interesse der Allgemeinheit mehr kostet, als es bringt. Auch Beleidigungen &ouml;ffentlicher Personen oder Institutionen haben hier nichts zu suchen.</p>

<p><i>Kann das Problem wieder gel&ouml;scht werden?</i><br />
<strong>Antwort:</strong> Nein. Probleme werden nur automatisch gel&ouml;scht, sobald sie von einer gr&ouml;&szlig;eren Personenanzahl als "gel&ouml;st" betrachtet werden.<br />
Daher sollten Sie vor dem Ver&ouml;ffentlichen nachdenken. Sollte Ihnen ein Problem aus einer entstehen, k&ouml;nnen Sie sich auch per E-Mail an den Administrator wenden. Schicken Sie uns dazu einfach ein E-Mail: barcamp.kaernten@gmail.com. Dieses E-Mail sollte auf alle F&auml;lle einen Grund f&uuml;r die L&ouml;schung sowie die URL des Problems enthalten.</p>

<p><i>Wie wird ein Problem als "gel&ouml;st" markiert?</i><br />
<strong>Antwort:</strong> Ein Problem gilt dann als "gel&ouml;st", sobald eine bestimmte Anzahl an Personen dies ebenfalls so sieht. Gel&ouml;ste Probleme werden als solche auch ver&ouml;ffentlicht.</p>

<p><i>Ist jedes Problem "ein Problem"?</i><br />
<strong>Antwort:</strong> Nein. Ein Problem kann von der Community auch als "No Problem" eingestuft werden. Dazu sind eine bestimmte Anzahl an Stimmen durch Klicken auf "No Problem" n&ouml;tig.</p>

<p><i>Wie wird meine Privatsph&auml;re gesch&uuml;tzt?</i><br />
<strong>Antwort:</strong> Ihnen muss bewusst sein, dass die Meldung von Problemen mit Ihrer Person in Verbindung gebracht werden k&ouml;nnen.</p>

<p><i>Welche Daten werden von mir gespeichert?</i><br />
<strong>Antwort:</strong> Wir speichern Ihre IP-Adresse sowie die bei der Anmeldung gewonnen Daten. Diese werden nicht an Dritte weiter gegeben.</p>
